[defaults]
host_key_checking = False
retry_files_enabled = False
remote_user = ansible
remote_user = vagrant

[ssh_connection]

# ssh arguments to use
# Leaving off ControlPersist will result in poor performance, so use
# paramiko on older platforms rather than removing it, -C controls compression use
#ssh_args = -C -o ControlMaster=auto -o ControlPersist=60s
pipelining = True
